<div class="clearfix">
    <div id="category">
        <h1><%= page.category %></h1>
        <% page.posts.each(function(article) { %>
        <div class="item">
            <h3>
                <time datetime="<%= date_xml(article.date) %>">
                    <%= date(article.date) %>
                </time>
                <% if (article.link) { %>
                <a href="<%= url_for(article.link) %>" target="_blank">
                    <%- truncate(strip_html(article.title), {length: 57, omission: '...'}) %>
                </a>
                <% } else { %>
                <a href="<%= url_for(article.path) %>">
                    <%- truncate(strip_html(article.title), {length: 57, omission: '...'}) %>
                </a>
                <% } %>
            </h3>
        </div>
        <% }); %>
    </div>
    <%- partial('partials/content-aside') %>
</div>
<div id="category-paginator" class="clearfix">
    <%- paginator({prev_text: '&laquo; ' + __('prev'), next_text: __('next') + ' &raquo;'}) %>
</div>
