<%-partial('partials/head') %>
<body>
<%- partial('partials/header') %>
<div id="content-outer">
  <div id="content-inner">
    <%- body %>
  </div>
</div>
<%- partial('partials/footer') %>
<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(function(url) { %>
    <script src="<%=url%>"></script>
  <% }); %>
<% } %>

</body>
</html>
