<div class="clearfix">
    <article id="post">
        <h1><%= page.title %></h1>
        <div class="create">
            <span><%= __('created') %></span>
            <% if (page.date) { %>
                <time datetime="<%= page.date.toJSON() %>">
                    <%= date(page.date) %>
                </time>
            <% } %>
            <%- list_categories(page.categories, {
                show_count: false,
                class: 'article-category'
            }) %>
        </div>
        <%- page.content %>
        <div>
            <%- list_tags(page.tags, {
                show_count: false,
                class: 'tags-category'
            }) %>
        </div>
        <div class="bottom-line"></div>
        <%- partial('partials/post/nav', {post: page}) %>
        <% if (theme.valine.enable && theme.valine.appid && theme.valine.appkey) { %>
            <%- partial('partials/valine') %>
        <% } %>
    </article>
    <div id="toc">
        <% if(toc(page.content)) { %>
            <h2><%= __('toc') %></h2>
            <%- toc(page.content) %>
        <% } else { %>
            <h2><%= __('tocEmpty') %></h2>
        <% } %>
    </div>
</div>
