<div id="content-aside">
    <div class="content-aside-owner">
        <%- partial('owner') %>
    </div>
    <% if (theme.about.enable) { %>
        <div class="content-aside-about">
            <h2>
                <a href="/about"><%= __('about') %></a>
            </h2>
        </div>
    <% } %>
    <div class="content-aside-tags">
        <h2>
            <a href="/tags">
                <%= __('tags') %>
                <sup style="font-size: 12px">
                    [<%= site.tags.length %>]
                </sup>
            </a>
        </h2>
    </div>
    <%- partial('partials/categories') %>
    <%- partial('partials/archives') %>
</div>
