<div id="owner">
    <div class="avatar-bg">
        <div class="index-page">
            <div class="banner">
                <div class="slide slide1">
                    <div class="bg-wrapper">
                        <div class="bg" id="container_left">
                            <div id="canvas_left"></div>
                        </div>
                    </div>
                </div>
                <div class="slide slide2">
                    <div class="bg-wrapper">
                        <div class="bg" id="container_right">
                            <div id="canvas_right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/"><img class="avatar" src="<%= theme.avatar %>" alt=""></a>
    <a href="/"><h3 class="author"><%= config.author %></h3></a>
    <h4><%= config.subtitle %></h4>
    <div class="social">
        <% for (var key in theme.social ) {%>
            <% if (theme.social[key]){%>
              <a href="<%- url_for(theme.social[key]) %>" title="<%= key %>" class="fa fa-<%= key %>" target="_blank"></a>
            <% } %>
        <% } %>
    </div>
</div>