<% if (page.posts.length > 0) { %>
  <div id="recent-posts">
    <% page.posts.sort('date', -1).limit(10).each(function (post) { %>
      <div class="post-item">
          <h3>
            <a href="<%= config.root + post.path %>">
              <%- truncate(strip_html(post.title), {length: 57, omission: '...'}) %>
            </a>
          </h3>
          <div class="create">
              <span>创建于</span>
              <% if (post.date) {%>
              <time datetime="<%= post.date.toJSON() %>">
                  <%=date(post.date)%>
              </time>
              <% } %>
              <%- list_categories(post.categories, {
                  show_count: false,
                  class: 'article-category'
              }) %>
          </div>
        <% if(post.excerpt) { %>
          <%- post.excerpt %>
        <% } else { %>
          <%- post.content %>
        <% }%>
        <p>
          <%- list_tags(post.tags, {
            show_count: false,
            class: 'tags-category'
          }) %>
        </p>
          <a class="readmore" href="<%= config.root + post.path %>">
            阅读更多
          </a>
      </div>
    <% }) %>
  </div>
<% } %>
